:root {
  --color-colors-gray-50: #f9fafb;
  --color-colors-gray-100: #f3f4f6;
  --color-colors-gray-200: #e5e7eb;
  --color-colors-gray-300: #d1d5db;
  --color-colors-gray-400: #9ca3af;
  --color-colors-gray-500: #6b7280;
  --color-colors-gray-600: #4b5563;
  --color-colors-gray-700: #374151;
  --color-colors-gray-800: #1f2937;
  --color-colors-gray-900: #111827;
  --color-colors-gray-950: #030712;
  --color-colors-lime-50: #f7fee7;
  --color-colors-lime-100: #ecfccb;
  --color-colors-lime-200: #d9f99d;
  --color-colors-lime-300: #bef264;
  --color-colors-lime-400: #a3e635;
  --color-colors-lime-500: #84cc16;
  --color-colors-lime-600: #65a30d;
  --color-colors-lime-700: #4d7c0f;
  --color-colors-lime-800: #3f6212;
  --color-colors-lime-900: #365314;
  --color-colors-lime-950: #1a2e05;
  --color-colors-orange-50: #fff7ed;
  --color-colors-orange-100: #ffedd5;
  --color-colors-orange-200: #fed7aa;
  --color-colors-orange-300: #fdba74;
  --color-colors-orange-400: #fb923c;
  --color-colors-orange-500: #f97316;
  --color-colors-orange-600: #ea580c;
  --color-colors-orange-700: #c2410c;
  --color-colors-orange-800: #9a3412;
  --color-colors-orange-900: #7c2d12;
  --color-colors-orange-950: #431407;
  --color-colors-red-50: #fef2f2;
  --color-colors-red-100: #fee2e2;
  --color-colors-red-200: #fecaca;
  --color-colors-red-300: #fca5a5;
  --color-colors-red-400: #f87171;
  --color-colors-red-500: #ef4444;
  --color-colors-red-600: #dc2626;
  --color-colors-red-700: #b91c1c;
  --color-colors-red-800: #991b1b;
  --color-colors-red-900: #7f1d1d;
  --color-colors-red-950: #450a0a;
  --color-colors-slate-50: #f8fafc;
  --color-colors-slate-100: #f1f5f9;
  --color-colors-slate-200: #e2e8f0;
  --color-colors-slate-300: #cbd5e1;
  --color-colors-slate-400: #94a3b8;
  --color-colors-slate-500: #64748b;
  --color-colors-slate-600: #475569;
  --color-colors-slate-700: #334155;
  --color-colors-slate-800: #1e293b;
  --color-colors-slate-900: #0f172a;
  --color-colors-slate-950: #020617;
  --color-colors-slate-1200: #000000;
  --color-colors-yellow-50: #fefce8;
  --color-colors-yellow-100: #fef9c3;
  --color-colors-yellow-200: #fef08a;
  --color-colors-yellow-300: #fde047;
  --color-colors-yellow-400: #facc15;
  --color-colors-yellow-500: #eab308;
  --color-colors-yellow-600: #ca8a04;
  --color-colors-yellow-700: #a16207;
  --color-colors-yellow-800: #854d0e;
  --color-colors-yellow-900: #713f12;
  --color-colors-yellow-950: #422006;
}
